.container {
    width: 680px;
    height: 480px;
    display: flex;
    background-color: #4A365E;
    position: relative;
}

.btn {
    background-color: #ff9a09;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    width: 680px;
}
